html {
  height: 100%;
  margin: 0;
}

body {
  color: #7d95b6;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  height: 100%;
  margin: 0;
}

.hero {
  background-image: url("./images/galaxy.gif");
  background-size: cover;
  background-position: center;

  padding: 60px 0 40px 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*Text*/

#underline {
  text-decoration: underline #575859 5px;
}

/*Button*/

.apply-btn {
  padding: 5px 15px 5px 15px;
  background-color: #fafcfd;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: #52709e;
  border-radius: 6px;
}

/*Images*/

#spacex-logo {
  width: 200px;
}
